/* BACKGROUND COLOR */
 
.theme-btn:before,
.theme-btn,
nav > ul > li:hover > a:after,
.city-content > h4 > a:hover,
.social-btns > li > a,
.heading6 > p:before,
.heading7:before,
.shippment-guide > ul > li:before,
.cargo-tags > a:hover:before,
.gallery-detail > h3:before,
.packages-info > .nav > li > a:before,
.responsive-menu ul li:hover > a:before,
.responsive-menu ul li.active > a:before,
.cargo-progress .progress .progress-bar,
.post-thumb > span,
.cities-detail > h4 > a:hover,
.center .body-data > a,
.slide-btn:hover,
.plan:hover .theme-btn,
.menubar nav > ul > li > a:after,
.date > span,
.responsive-menu .responsive-popup-btns > li > i,
.view-all-vertical:hover,
.view-all .theme-btn:hover,
.fancy-service:hover:before,
.theme-btn.dark:hover,
.project-detail > span > i:before,
.shipment-visibility > form .theme-btn,
.track-form,
.cargo-packages-list > li > span,
.view-all .theme-btn,
.customer-detail > p > span,
nav > ul > li ul li:before,
.mega-list > li::after,
.callus-action > a,	
.callus4,
.thm-skin,
.quick-contact > ul > li > .theme-btn:hover,
.blog-post-carousel .owl-nav > div:hover, 
.cities-carousel .owl-nav > div:hover, 
.project-overview-carousel .owl-nav > div:hover,
.modern-services-carousel .owl-nav > div:hover::before,
.customers-review-carousel .owl-nav > div:hover,
.toggle-style4 .toggle-item > h3.active,
.toggle-style6 .toggle-item > h3.active > i,
.toggle-style7 .toggle-item > h3 > i,
.toggle-style8 .toggle-item,
.tags-div .cargo-tags > a:hover::before,
.blu-skin:hover,
.drk-skin:hover,
.lgt-skin:hover,
.tabs2 .nav > li::before,
.tabs2 .nav > li.active > a,
.gray .progress-bars4 .progress-bar{
	background-color: #00315c;
}



/* FONT COLOR */

.cargo-time > i,
.extra-links > a:hover,
.quick-contact > ul li p,
.service-detail > span,
.heading > span,
.bottom-line ul > li > a:hover,
.heading2 > span,
.widget ul > li > a:hover:before,
.widget ul > li > a:hover,

.partners .owl-nav > div:hover:before,
.company-detail > h3:hover > a,
.post-info > h3:hover > a,
.title1 > i,
.header2 .extra-links,
.header2 .extra-links a:hover,
.header2 .menu-curve > ul > li > a:hover,
.header2 .menu-sticked > ul > li > a,
.nav > ul > li ul li:hover > a,
.title2 > strong,
.packages-info > h2 > a:hover,
.news-detail > h2 > a:hover,
.post-meta2 > li > a:hover,
.customer-info > h5,
.member-info > span,
.member-info > h4 > a:hover,
.share-it > ul > li > a:hover,
.comment-info > i,
.comment-info > h6 > a:hover,
.heading7 > span,
.avatar > li > a,
.date2 > a,
.cargo-video-cap > a,
.city-thumb > a:hover,
.toggle-item > h3.active,
.toggle-item > h3.active > i,
.gallery-detail > a,
.recent-news-desc > h2 > a:hover,
.contact:hover > i,
.services-menu > ul > li > a:hover,
.social-links > li > a:hover,
.team-cap > h4 > a:hover,
.heading8 > p > i,
.cargo-progress > li > h4,
.terms-services > span > label > a,
.responsive-btn:hover,
/* .responsive-menu ul li:hover > a,
.responsive-menu ul li:hover > a:after,
.responsive-menu ul li.active > a,
.responsive-menu ul li.active > a:after, */
.close-btn:hover,
.post-info2 > h4 > a:hover,
.head-data > span,
.project-detail > h4 > a:hover,
.cargo-packages-list > li > h3 > a:hover,
.cargo-packages-list > li > a,
.text-color,
.slide-btn:before,
.sign-in ul > li:last-child > a:hover,
.si .fragile > span > label > a,
.shippment-guide > ul > li > a:hover,
.service-info > h5 > a:hover,
.simple-header .top-bar .extra-links a:hover,
.simple-header .top-bar .connect-us .social-btn > li > a:hover,
.menubar nav > ul > li:hover > a,
.main-carousel-cap > h1,
.team-cap > span,
.widget-data > form button:hover,
.recent-post-content > h4 a:hover,
.pack-info > strong > i,
.pack-info > span > i,
.delivered-info > li i,
.mod-service-inner > i,
.mod-service-inner > h3 a:hover,
.column-title > span,
.heading2.light span,
.cargo-packages-list > li > i,
.project-detail > span > i,
.dark-title > span i,
.cargo-size > h4 i,
.extra-services > h4 i,
.shipment-visibility > span,
.social-btn > li > a,
.header2 .connect-us > ul > li > a,
.dark-title.light > span,
.shipment-name > span,
nav > ul > li ul li.menu-item-has-children:hover > a:before,
.header2 .connect-us > ul > li > a,
.mega-list > li:hover:before,
.mega-list > li:hover > a,
.mega-list2 > li:hover > a,
.thm-bor-skin,
.service-box1 > span,
.shipment-guide a.theme-btn:hover,
.request-quote-body > a:hover,
.view-all .theme-btn:hover,
.header3 .menu-curve > ul > li > a:hover,
.toggle-style3 .toggle-item > h3.active,
.toggle-style3 .toggle-item > h3.active > i,
.toggle-style4 .toggle-item > h3.active > i,
.toggle-style9 .toggle-item > h3.active,
.toggle-style9 .toggle-item > h3.active > i,
.cat-list > span,
.cat-list > ul > li > a:hover,
.orgnaizer-info > ul > li a:hover,
.drk-bor-skin:hover,
.cargo-video2 .cargo-video-cap > p > a:hover,
.cargo-video2 .cargo-video-cap > a:hover 
{
    color: #00315c;
}
.menu-curve > ul > li > a:before { color: #ffffff;}
.menu-curve > ul > li > a:after{ color: #fff !important;}
.menu-curve > ul > li > a:after:hover{ color: #fff !important;}
.bottom-line span > a,
.post-thumb > span:before{
	color: #FFF;
}
/* BORDER COLOR */

.partners .owl-nav > div:hover,
.cargo-video-cap > a,

.project-detail > a:hover,
.header2 .top-bar,
.shipment-name > span,
.thm-bor-skin,

.request-quote-body > a,
.view-all .theme-btn,
.toggle-style7 .toggle-item.activate,
.drk-bor-skin:hover,
.cargo-video2 .cargo-video-cap > a:hover,
.tabs2 .tab-content .tab-pane
{
    border-color: none ;
}

.plan:hover:before,
.plan:hover:before,
#submission-message .modal-content,
nav > ul > li ul,
.megamenu
{
	border-top-color: #9CD1A8;
}
.shipment-visibility > form .theme-btn{ background: #9ca808; border:1px solid; border-color: #fff;}
.shipment-visibility > form .theme-btn:hover { background-color: #fff; color:#9ca808;}

.subscription-form .theme-btn:{ background-color: #1160a8; border:1px solid; border-color: #fff;}
.subscription-form .theme-btn:hover { background-color: #fff; color:#00315c;}

.fa-search-plus{
	color:#ffffff;
}

.fa.fa-play {
	color: #fff!important;
}
.cargo-video-cap > a{
	border: solid 5px #fff !important;
}

.shipment-visibility > form .theme-btn,
.subscription-form .theme-btn,
.shipment-guide a.theme-btn{
	background: #9ca808: !important;
	border: 1px solid #fff!important;
	margin-top: 20px;
}